.add-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-box {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.add-box h2 {
  margin-bottom: 20px;
}